@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("https://assets.weforum.org/organization/image/X5H1BWb9aHsCtfJ-lXLo4q354lEvhe1clAp8c2j1JEk.png") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
}
.card-list .card-item {
  height: auto;
  color: #fff;
  user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  border: 3px solid white;
}
.card-list .card-item .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 3px solid white;
  padding: 4px;
}
.card-list .card-item .user-profession {
  font-size: 1.15rem;
  color:whitesmoke;
  font-weight: 500;
  margin: 14px 0 40px;
}
h1{
    color: crimson;
    position: absolute;
    top:10px;
    padding-top: 10px;
    background-color: aliceblue;
}
.card-list .card-item .message-button {
  font-size: 1.25rem;
  padding: 10px 35px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: white;
  border: 1px solid transparent;
  transition: 0.2s ease;
}
.card-list .card-item .message-button:hover {
  background: dimgrey;
  border: 1px solid white;
  color: white;
}
.slider-wrapper .swiper-pagination-bullet {
  background: white;
  height: 13px;
  width: 13px;
  opacity: 0.5;
}
.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}
img{
    height: 100px;
    width:100px;
}
.slider-wrapper .swiper-slide-button {
  color: whitesmoke;
  margin-top: -55px;
  transition: 0.2s ease;
}
.slider-wrapper .swiper-slide-button:hover {
  color:blue;
}
.card-itemswiper-slide{
     vertical-align: text-top;
}
@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }
  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}